/bower_components/
/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
/.spago
/.idea
/.vscode
/dist/assets/fonts/FireCode-Regular.ttf
/dist/**/pantograph.js
.DS_Store
